<h1 class="text-3xl">Novidade!</h1><br>

<p>Em breve, este será o seu canal para troca de mensagens com os colaboradores da <strong>Message System</strong>. Fique atento, pois o sistema será lançado em breve para facilitar a comunicação com sua equipe.</p>

<h2 class="text-xl mt-4">Como funcionará?</h2>
<p>A plataforma permitirá que você envie e receba mensagens em tempo real, facilitando a comunicação com sua equipe. Em breve, você poderá aproveitar todas as funcionalidades disponíveis.</p>

<h2 class="text-xl mt-4">O que vem por aí?</h2>
<p>Assim que o recurso for lançado você será notificado e poderá visualizar e responder às mensagens enviadas pelos colaboradores!</p>

