<p>Ol치, <strong><%= @user.full_name %></strong>,</p>

<p>Seu cadastro foi realizado com sucesso! Seja bem-vindo(a) ao Sistema de Mensagens. \o/</p>
<p>Aqui est칚o os detalhes do seu acesso:</p>

<ul>
    <li><i>E-mail:</i> <%= @user.email %></li>
    <li><i>Senha provis칩ria:</i> <%= @user.password %> </li>
</ul>

<strong>游늷 Pr칩ximos passos:</strong>
<ol>
    <li>Acesse o sistema em: <a href="http://localhost:3000">http://localhost:3000</a></li>
    <li>Fa칞a login com o e-mail e senha provis칩ria fornecidos acima.</li>
    <li>Alterar sua senha no primeiro acesso para garantir sua seguran칞a.</li>
</ol>

<p>Estamos aqui para ajudar! Se tiver alguma d칰vida, entre em contato com nossa equipe de suporte.</p>

<p>Atenciosamente,<br>Equipe RH</p>